<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741109547548-2656t8pi8q1ck9hg6llt8croftguim9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741109547548-2656t8pi8q1ck9hg6llt8croftguim9v</string>
	<key>API_KEY</key>
	<string>AIzaSyC4hIUklznXQ8EHywaSD-a8YTD-9bP6Phs</string>
	<key>GCM_SENDER_ID</key>
	<string>741109547548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ddncNew</string>
	<key>PROJECT_ID</key>
	<string>hungpq-14445</string>
	<key>STORAGE_BUCKET</key>
	<string>hungpq-14445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741109547548:ios:e3b15bd9b1a8bd88c095d9</string>
</dict>
</plist>